name: CI

on:
  push:
    tags:
      - v*
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: recursive

      - name: Cleanup ubuntu image to free up space for GO build
        run: |
          if [ "$GITHUB_ACTIONS" = "true" ]; then
              echo "Running in GitHub Actions, performing cleanup to free up space"
              # echo "=== disk-usage for /usr Level 2 ==="
              # sudo du -xh --exclude=/proc --max-depth=2 / | sort -hr
              echo "free space: $(df -h . | tail -1 | awk '{print $4}')"

              echo "=== Deleting un-needed framework/tool dirs ==="

              sudo rm -rf /usr/local/.ghcup || true # haskell installer: ~6.4GB
              sudo rm -rf /usr/share/dotnet || true # dotnet: ~4GB
              sudo rm -rf /usr/share/swift  || true # swift: ~3.2GB
              sudo rm -rf /usr/lib/jvm || true      # jvm: ~1.5GB

              echo "free space after cleanup: $(df -h . | tail -1 | awk '{print $4}')"
              # echo "=== Github Workspace Usage for $GITHUB_WORKSPACE ==="
              # du -h --max-depth=1 "$GITHUB_WORKSPACE" | sort -hr
          else
              echo "Not running in GitHub Actions, skipping cleanup"
          fi

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      # make verify aka check:
      - name: Verify
        run: |
          # make revendor
          task generate:tidy
          task validate:lint
          # make verify
          task validate:vet
          make test

      - name: Build (fka component_descriptor_ocm)
        run: |
          #
          make build
          # in old pipeline "component_descriptor_ocm" was called which
          # creates docker-images and component descriptor
          # make build-resources
